version: "3.9"

services:
  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      #- ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - type: bind
        source: ./nginx.conf
        target: /etc/nginx/conf.d/default.conf
        bind:
          create_host_path: true
    networks:
      - app-net

networks:
  app-net:
    external: true
