version: "3.9"

services:
  nginx:
    image: ghcr.io/coderrcaman/nginx-proxy:latest
    ports:                     
      - "80:80"
      - "443:443"
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
      update_config:
        parallelism: 1
        order: start-first
      placement:
        constraints:
          - node.role == manager
    networks:
      - app-net

networks:
  app-net:
    external: true
